:root {
    --yc-light-mode-bg-color: #F8F9FA;
    --yc-dark-mode-bg--color: #202122;
    --yc-light-smooth-mode-bg--color: #ffffff;
    --yc-dark-smooth-mode-bg-color: #303143;
}
body[yc-theme="light"]{
    background-color: var(--yc-light-mode-bg-color);
}
body[yc-theme="dark"]{
    background-color: var(--yc-dark-mode-bg--color);
}
body[yc-theme="light-smooth"]{
    background-color: var(--yc-light-smooth-mode-bg--color);
}
body[yc-theme="dark-smooth"]{
    background-color: var(--yc-dark-smooth-mode-bg-color);
}
body[yc-brightness="light"]{
    color: black;
}
body[yc-brightness="dark"]{
    color: white;
}
